:root {
     --barraTamanho: 100px;
     --corPrimaria: black;/* 9EDEE0 #97D2D4 */
     --corSecundaria: #FFFFFF;
}

/* -----------------------------[DIVISÃO]----------------------------------*/
.header {
     height: 100vh;
     background: linear-gradient(to bottom right, var(--corPrimaria), var(--corSecundaria));
     display: flex;
     align-items: center;
     padding-top: var(--tamanhoBarra);
     box-sizing: border-box;
}

body {
     margin: 0;
     font-family: 'Quicksand', sans-serif;
}

/* -----------------------------[CLASSES]----------------------------------*/
.home-center {
     width: 100%;
     max-width: 90vw;
     margin: 0 auto;
     padding: 16px;
     box-sizing: border-box;
}

.chama-funcao {
     margin-left: 10vw;
     max-width: 400px;
     padding: 32px;
     box-sizing: border-box;
     color: #ffffff;
     background-color: grey;
     border-radius: 16px;
}
.chama-funcao_titulo {
     margin-top: 0;
}
.chama-funcao_descricao {
     font-weight: 500;
     font-size: 1.1em;
}
.chama-funcao_botao {
     background-color: #ffffff;
     outline: none;
     font: bold 1.1em 'Quicksand', sans-serif;
     color: var(--corPrimaria);
     border: 1px solid #ffffff;
     border-radius: 4px;
     padding: 10px 16px;
     cursor: pointer;
     transition: background 0.15s, color 0.15s;
}
.chama-funcao_botao:hover {
     background: transparent;
     color: #ffffff;
}

.barra {
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: var(--barraTamanho);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
     transition: background 0.15s;
}
.barra-bg {
     background: var(--corPrimaria);
}
.barra_conteudo {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.barra_logo {
     height: 30vh;
}
.barra_navegarMenu {
     cursor: pointer;
}
.barra_navegarMenu > i {
     color: #ffffff;
     font-size: 3em;
}

/* -----------------------------[DRAWER]----------------------------------*/
#inpNavMenu {/* Removendo o checkbox */
     display: none;
}
#inpNavMenu:checked ~ .nav {/* Ao clicar, eu mostro o display flex */
     display: flex;
}

.nav {
     display: none;
     flex-direction: column;
     position: fixed;
     top: var(--barraTamanho);
     left: 0;
     width: 100%;
     height: calc(100vh - var(--barraTamanho));
     padding: 32px;
     background: #222222;
     box-sizing: border-box;
}
.nav_link {
     font-weight: 500;
     font-size: 2.3vh;
     padding: 16px 0;
     text-decoration: none;
     color: #ffffff;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav_link:hover {
     opacity: 0.8;
}

/* -----------------------------[AUX]----------------------------------*/
.divider{
     width: 2vh;
     height: auto;
     display: inline-block;
}

/* 
Tela responsiva, se o display tiver um tamanho menor que 
767px ele irá mostrar o menu icon.
Caso contrário ele irá mostrar as opções direto no header
*/
@media screen and (min-width: 767px) {/* width minimo para ... 767px*/
     .barra_navegarMenu {/* ... aparecer o menu icon */
          display: none;
     }

     .nav {
          display: initial;
          position: static;
          width: unset;
          height: unset;
          padding: unset;
          background: transparent;
     }
     .nav_link {
          border-bottom: none;
     }
     .nav_link:not(:last-of-type) {
          margin-right: 24px;
     }

}